# Word Tokenization and Sentence tokenization

In [4]:
import nltk

In [6]:
#nltk.download()

In [7]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [8]:
df = "My name is Harish Tomar"

In [11]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/harish/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [13]:
word_tokenize(df)

['My', 'name', 'is', 'Harish', 'Tomar']

In [14]:
sent_tokenize(df)

['My name is Harish Tomar']

In [15]:
df1 = "my name is harish tomar. I am 21 years old"

In [17]:
word_tokenize(df1)

['my', 'name', 'is', 'harish', 'tomar', '.', 'I', 'am', '21', 'years', 'old']

In [18]:
sent_tokenize(df1)

['my name is harish tomar.', 'I am 21 years old']